<div>
  <h1>Annual / Sick leaves</h1>
  <div class="view-switch">
    View:
    <div class="btn-group" role="group" aria-label="View">
      <button type="button" class="btn btn-secondary" [class.active]="(view | async) === 'list'" (click)="setView('list')">
        List
      </button>
      <button type="button" class="btn btn-secondary" [class.active]="(view | async) === 'calendar'" (click)="setView('calendar')">
        Calendar
      </button>
    </div>
  </div>

  <form [formGroup]="filterForm" class="filter">
    <ss-multiselect-dropdown [options]="requesterOptions" [settings]="defaultSelectSettings" [texts]="requesterTexts" formControlName="requesterModel"></ss-multiselect-dropdown>
    <ss-multiselect-dropdown [options]="monthOptions" [settings]="defaultSelectSettings" [texts]="monthTexts" formControlName="monthModel"></ss-multiselect-dropdown>
    <ss-multiselect-dropdown [options]="yearOptions" [settings]="defaultSelectSettings" [texts]="yearTexts" formControlName="yearModel"></ss-multiselect-dropdown>
    <button type="button" class="btn btn-info" (click)="clearFilter()">Clear filter</button>
  </form>

  <table class="table table-striped" *ngIf="(view | async) === 'list'">
    <thead>
      <tr>
        <th>Requester</th>
        <th>Days</th>
        <th>Type</th>
        <th>State</th>
        <th>Approver</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of filteredLeaves$ | async">
        <td>{{ item.requester.getFullName() }}</td>
        <td>
          {{ item.startDate | date }} - {{ item.endDate | date }} ({{ holidayCountService.numWorkDays(item) }} work days)
        </td>
        <td>{{ item.type | translateLeaveType }}</td>
        <td>{{ item.state | translateLeaveState }}</td>
        <td>{{ item.approver?.getFullName() }}</td>
        <td>
          <button (click)="removeLeave(item)" class="btn btn-danger">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

  <app-leaves-calendar [leaves]="filteredLeaves$" *ngIf="(view | async) === 'calendar'"></app-leaves-calendar>

  <a class="btn btn-success" routerLink="/list/add" role="button">Add</a>
</div>