@import "../../node_modules/bootstrap/scss/bootstrap-reboot";
@import "../../node_modules/bootstrap/scss/bootstrap";
$fa-font-path: "../../node_modules/font-awesome/fonts" !default;
@import "../../node_modules/font-awesome/scss/font-awesome";
@import "../../node_modules/fullcalendar/dist/fullcalendar.min.css";

@import "variables";
@import "reset";

/* ng picker fix */
.ngx-datepicker-container {
  z-index: inherit !important;
}
.ngx-datepicker-calendar-container {
  z-index: 1;
}
