.nav-user {
   margin-right: 2em;
}

.nav>li.user>a {
   font-weight: bold;
}

.nav>li.user-non-admin>a {

}

.nav>li.user-admin>a {
   color: #00cc00;
}

.nav>li.admin-link {
   border-bottom: 3px solid #00cc00;
}

.nav>li.admin-link>a {
   padding-bottom: 12px;
}
