<div>
  <h1>Add new leave</h1>
  <form [formGroup]="addGroup" (ngSubmit)="onSubmit()">
    <div *ngIf="addGroup.invalid" class="alert alert-danger">
      <app-validation-errors [errors]="addGroup.errors"></app-validation-errors>
    </div>
    <div class="form-group">
      <label>
        Type
        <select formControlName="type">
          <option *ngFor="let item of enumTypes()" [value]="item.value">{{ item.label }}</option>
        </select>
      </label>
    </div>
    <div class="form-group">
      <label>
        Start date
        <ng-datepicker formControlName="startDate" class="form-control"></ng-datepicker>
        <div *ngIf="startDate.invalid && (startDate.dirty || startDate.touched)" class="alert alert-danger">
          <app-validation-errors [errors]="startDate.errors"></app-validation-errors>
        </div>
      </label>
    </div>
    <div class="form-group">
      <label>
        End date
        <ng-datepicker formControlName="endDate" class="form-control"></ng-datepicker>
        <div *ngIf="endDate.invalid && (endDate.dirty || endDate.touched)" class="alert alert-danger">
          <app-validation-errors [errors]="endDate.errors"></app-validation-errors>
        </div>
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" value="" formControlName="isHalfDay"> Is half day?
      </label>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="addGroup.invalid">
      Add leave
    </button>
  </form>
</div>